.homework-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.homework-card {
  background-color: var(--light-bg-color);
  color: var( --dark-text-color);
  border: var(--border);
  border-radius: 15px;
  padding: 15px 30px;
}

.homework-card h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
}

.homework-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  word-break: break-word;
}
