<<<<<<< HEAD
.homework-list {
    margin-bottom: 10px;
}

.homework-card {
    background: #F2F2F2;
    border: 2px solid #000000;
    border-radius: 15px;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 18px;
}

.homework-card h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.homework-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

=======
.homework-list {
    margin-bottom: 10px;
}

.homework-card {
    background: #F2F2F2;
    border: 2px solid #000000;
    border-radius: 15px;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 18px;
}

.homework-card h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.homework-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

>>>>>>> 9c66d1cf54a1d5acc5699260c428742d2f684960
