.homework-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.homework-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  border: var(--border);
  border-radius: 15px;
  padding: 15px 30px;
}

.homework-card h3 {
  word-break: break-word;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
}

.task-info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
}

.task-info-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 24px;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  text-decoration: underline;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  word-break: break-word;
  font-variant: all-small-caps;
}

.homework-text {
  font-size: 20px;
  line-height: 24px;
  word-break: break-word;
}

.homework-deadline {
  word-break: break-word;
}

@media (max-width: 480px) {
  .homework-card {
    gap: 5px;
    padding: 10px 20px;
  }

  .homework-card h3 {
    font-size: 18px;
  }
}
