.burger-menu {
  background: none;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.sidebar {
  background-color: var(--light-bg-color);
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  width: 335px;
  height: 100vh;
  z-index: 3;
}

.sidebar.open {
  transform: translateX(0%);
}

.sidebar-header {
  width: 100%;
  height: 70px;
  background-color: var(--dark-bg-color);
}

.close-sidebar {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 70px;
  height: 70px;
}

.menu-list {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
}

.menu-item {
  color: var(--dark-text-color);
  padding-left: 25px;
  min-height: 62px;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
  font-size: 27px;
  line-height: 32px;
  transition: background-color 0.3s ease-in-out;
}

.menu-item:hover {
  background-color: #cfcfcf;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

@media (max-width: 480px) {
  .burger-menu {
    width: 50px;
    height: 50px;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar-header {
    height: 50px;
  }

  .close-sidebar {
    width: 50px;
    height: 50px;
  }
}
