.dropdown-menu {
}

.dropdown-menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  fill: var(--dark-bg-color);
  border: var(--border);
  border-radius: 30px;
  min-height: 62px;
  padding: 5px 5%;
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.dropdown-menu-btn h2 {
  word-break: break-word;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.dropdown-menu-btn:hover {
  background: var(--dark-bg-color);
  color: var(--light-text-color);
  fill: var(--light-bg-color);
}

.dropdown-menu-elements {
  display: none;
  margin-top: 4px;
  position: absolute;
  justify-content: center;
  width: 60%;
  max-width: 740px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light-bg-color);
  border: var(--border);
  border-radius: 10px 10px 30px 30px;
}

/* TODO  div.dropdown-menu-elements -> ul.dropdown-menu-elements */
.dropdown-menu-elements ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 5px;
  color: var(--dark-text-color);
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .dropdown-menu-btn {
    min-height: auto;
  }

  .dropdown-menu-btn h2 {
    font-size: 20px;
  }
}
