@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap");

.main {
  background-color: var(--light-bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--header-hight);
}

.container {
  width: 1180px;
}

.subjects {
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.subject-card {
  padding: 5px;
  border: var(--border);
  color: var(--dark-text-color);
  border-radius: 30px;
  width: 280px;
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subject-card h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  word-break: break-word;
}

.subject-card:hover {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}

@media (max-width: 480px) {
  .main {
    align-items: baseline;
    padding-top: 50px;
  }
  
  .subjects {
    margin: 20px 10px;
    gap: 15px;
  }

  .subject-card {
    width: 100%;
    height: auto;
  }

  .subject-card h2 {
    font-size: 20px;
  }
}
