@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.main {
  background-color: var(--light-bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--header-hight);
}

.container {
  width: 1180px;
}

.subjects {
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.subject-card {
  padding: 15px;
  border: var(--card-border);
  color: var(--dark-text-color);
  fill: var(--dark-bg-color);
  border-radius: 20px;
  width: 280px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.subject-card h2 {
  font-family: "Raleway";
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  word-break: break-word;
}

.task-information-icons {
  display: flex;
  justify-content: space-between;
}

.task-information-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-information-icon span {
  font-family: Sofia Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subject-card:hover {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  fill: var(--light-bg-color);
}

@media (max-width: 480px) {
  .main {
    align-items: baseline;
    padding-top: 50px;
  }

  .subjects {
    margin: 20px 10px;
    gap: 15px;
  }

  .subject-card {
    width: 100%;
    height: auto;
  }

  .subject-card h2 {
    font-size: 20px;
  }
}
