@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container_successfulGroup {
    width: 1180px;
    margin: 40px 20px 0 20px;
}

.main_successfulGroup {
    background-color: #F2F2F2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.table__header-row {
    display: flex;
    justify-content: space-between;
}

.table-header-row__designation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 50px;
    padding: 13px 18px;
    border: 2px solid #303030;
    border-radius: 10px 10px 20px 20px;
}

.table__center-container {
    display: flex;
    align-items: center;
}

.table__red-circle {
    width: 23px;
    height: 23px;
    background: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}

.table__yellow-circle {
    width: 23px;
    height: 23px;
    background: rgba(250, 255, 0, 0.7);
    border-radius: 50px;
}

.table__center-container span {
    margin-left: 5px;
    font-size: 15px;
    text-transform: uppercase;
}



.table-header-row__headings {
    display: flex;
    justify-content: space-around;
    width: 880px;
    height: 49px;
    padding: 0 20px;
    border: 2px solid #303030;
    border-radius: 10px 10px 20px 20px;
}

.table-header-row__task-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38px;
}

.table-header-row__task-type span {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.table-header-row__conclusion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    font-size: 16px;
    text-transform: uppercase;
}

.table__odd-column {
    background: rgba(203, 203, 203, 0.5);
}

.table__even-column {
    background: rgba(229, 229, 229, 0.8);
}





.table {
    padding: 25px 20px;
    margin: 4px 0;
    border: 2px solid #303030;
    border-radius: 20px;
}

.table__row {
    display: flex;
    justify-content: space-between;
    height: 38px;
    border-bottom: 1px solid #303030;
}

.table__row.table__first-row {
    border-top: 1px solid #303030;
}

.table-row__student-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}

.table-row__marks {
    display: flex;
    justify-content: space-around;
    width: 840px;
}

.table-row__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px
}

.table-row__conclusion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
}

.table__red-conclusion {
    width: 91px;
    height: 23px;
    background: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}

.table__yellow-conclusion {
    width: 91px;
    height: 23px;
    background: rgba(250, 255, 0, 0.7);
    border-radius: 50px;
}

.table__gradient-conclusion {
    width: 91px;
    height: 23px;
    background: linear-gradient(90deg, rgba(248, 70, 70, 0.7) 42.19%, rgba(245, 248, 70, 0.7) 60.42%);
    border-radius: 50px;
}

.table-header-row__designation.bottom-designation {
    border-radius: 20px 20px 10px 10px;
}

.table-header-row__headings.bottom-headings {
    border-radius: 20px 20px 10px 10px;
    align-self: flex-end;
}