@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap");

.main_taskPage {
  background-color: var(--light-bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: var(--header-hight);
}

.container_taskPage {
  width: 1180px;
  margin: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-study-assignment {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  border: var(--border);
  border-radius: 30px;
  min-height: 62px;
  padding: 5px;  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-study-assignment h2 {
  word-break: break-word;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
}

.add-study-assignment:hover {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}

.popup-overlay {
  /* display: none; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.5);
}

.popup {
  height: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  width: 100%;
  max-width: 720px;
  padding: 10px;
}

.popup__header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  background-color: var(--light-bg-color);
  border: var(--border);
  border-radius: 30px;
  margin-bottom: 9px;
}

.popup__header h2 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: var(--dark-text-color);
  text-transform: uppercase;
}

.popup__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-height: 380px; */
  background-color: var(--light-bg-color);
  border: var(--border);
  border-radius: 15px;
  padding: 20px;
}

.popup__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.popup__list-item {
  display: flex;
  justify-content: space-between;
  padding-right: 40%;
}

.popup__list-item h3 {
  color: var(--dark-text-color);
  text-transform: uppercase;
}

.popup__list-item-menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  background-color: #eae8e8;
  fill: #303030;
  border-radius: 5px;
  min-width: 60px;
  min-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.popup__list-item-menu-btn:hover {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  fill: #ffffff;
}

.popup__list-item-menu-btn h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
}

.popup__task-input {
  display: flex;
  resize: none;
  height: 150px;
  background-color: #eae8e8;
  border-radius: 5px;
  padding: 15px 9px;
  font-size: 20px;
  line-height: 24px;
}

.popup__btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popup__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  min-height: 40px;
  background-color: var(--dark-bg-color);
  border-radius: 15px;
  text-align: center;
  color: var(--light-bg-color);
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  border: var(--border);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popup__close-btn:hover {
  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
}

.popup__save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  min-height: 40px;
  background-color: var(--dark-bg-color);
  border-radius: 15px;
  text-align: center;
  color: var(--light-text-color);
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  border: var(--border);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popup__save-btn:hover {
  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
}

@media (max-width: 480px) {
  .main_taskPage {
    padding-top: 50px;
  }

  .container_taskPage {
    margin: 20px 10px;
    gap: 15px;
  }

  .add-study-assignment {
    min-height: auto;
  }

  .add-study-assignment h2 {
    font-size: 20px;
  }
}
